<header class="header-library">
  <!-- <include src="./partials/header-library.html"></include> -->
  <div class="container">
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a href="./index.html" class="list__filmoteka_and_icon-link">
            <h1 class="filmoteka-header">Filmoteka</h1>
            <svg class="icon-filmoteka" width="24px" height="24px">
              <use href="../src/images/icon.svg#icon-film"></use>
            </svg>
          </a>
        </li>
        <li class="nav__list-item">
          <a href="./index.html" class="nav__link-home">HOME</a>
          <a href="./library.html" class="nav__link-my-library current"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>

    <div class="btn-library__container">
      <button type="button" class="btn-library">WATCHED</button>
      <button type="button" class="btn-library">QUEUE</button>
    </div>
  </div>
</header>
<main>
  <div class="container"></div>
</main>
<footer>
  <div class="container"></div>
</footer>
