<!-- Modal open> - коли зматчимо з реальними кнопками - треба видали -->
<button type="button" class="open-modal-register" data-modal-open-register>
  Open modal
</button>

<!-- Modal> -->
<div class="backdrop-register is-hidden" data-modal-register>
  <div class="register-order">
    <button class="button-close-register" data-modal-close-register>
      <svg class="button-close-register__icon" width="18" height="18">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <form class="register-form">
      <strong class="register-form__title"
        >To use advanced functionality, please register</strong
      >
      <div class="register-form__thumb">
        <label for="email" class="register-form__label">E-mail</label>
        <div class="register-form__wrapper">
          <input
            class="register-form__input"
            type="email"
            required
            data-email
          />
          <svg class="register-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#email"></use>
          </svg>
        </div>
      </div>
      <div class="register-form__thumb">
        <label for="password" class="register-form__label">Password</label>
        <div class="register-form__wrapper">
          <input
            class="register-form__input"
            type="password"
            minlength="6"
            required
            data-password
          />
          <svg class="register-form__icon" width="18" height="18">
            <use href="./images/sprite.svg#send"></use>
          </svg>
        </div>
      </div>
      <div class="register-form__button-wrapper">
        <button class="register-form__button" type="submit" data-log-in-btn>
          Log In
        </button>
        <button
          class="register-form__button register-form__button-register"
          type="submit"
          data-register-btn
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
