<div class="team-backdrop is-hidden">
  <div class="team-modal">
    <h1 class="team-name">Our Team</h1>
    <button class="team-modal-btn">
      <svg class="team-modal__icon" width="25" height="25">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="team-list">
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/yevgeniia-bohdan.jpg"
          alt="foto"
        />

        <h2 class="person__name">Yevgeniia Bohdan</h2>
        <p class="person__position">Team Lead</p>
        <!-- <div class="person-info">
          <p class="person-info__title">Technical skills:</p>
          <p class="person-info__text">
            HTML, CSS, Flexbox, BEM, SASS, CSS, JavaScript, DOM, Parsel, Git,
            Npm, Firebase
          </p>
          <p class="person-info__title">Soft skills:</p>
          <ul class="person-info__text">
            <li>English: ;</li>
            <li>Attention to detail;</li>
            <li>Good communication skills.</li>
          </ul>
          <p class="person-info__title">Portfolio:</p>
          <ul class="person-info__text list">
            <li>2 projects (in a team);</li>
            <li>2 projects (individual)</li>
          </ul>
        </div> -->
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/vlad.jpg"
          alt="foto"
        />

        <h2 class="person__name">Vlad Danilov</h2>
        <p class="person__position">Scrum Master</p>
        <!-- <div class="person-info">
          <p class="person-info__title">Technical skills:</p>
          <p class="person-info__text">
            HTML, CSS, Flexbox, BEM, SASS, CSS, JavaScript, DOM, Parsel, Git,
            Npm, Firebase
          </p>
          <p class="person-info__title">Soft skills:</p>
          <ul class="person-info__text">
            <li>English: ;</li>
            <li>Attention to detail;</li>
            <li>Good communication skills.</li>
          </ul>
          <p class="person-info__title">Portfolio:</p>
          <ul class="person-info__text list">
            <li>2 projects (in a team);</li>
            <li>2 projects (individual)</li>
          </ul>
        </div> -->
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/yuliia.jpg"
          alt="foto"
        />

        <h2 class="person__name">Yulia Cherina</h2>
        <p class="person__position">Developer</p>

        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/oleh.jpg"
          alt="foto"
        />

        <h2 class="person__name">Oleh Kliapko</h2>
        <p class="person__position">Developer</p>
        <!-- <div class="person-info">
          <p class="person-info__title">Technical skills:</p>
          <p class="person-info__text">
            HTML, CSS, Flexbox, BEM, SASS, CSS, JavaScript, DOM, Parsel, Git,
            Npm, Firebase
          </p>
          <p class="person-info__title">Soft skills:</p>
          <ul class="person-info__text">
            <li>English: ;</li>
            <li>Attention to detail;</li>
            <li>Good communication skills.</li>
          </ul>
          <p class="person-info__title">Portfolio:</p>
          <ul class="person-info__text list">
            <li>2 projects (in a team);</li>
            <li>2 projects (individual)</li>
          </ul>
        </div> -->
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/inna.jpg"
          alt="foto"
        />

        <h2 class="person__name">Inna Lyksa</h2>
        <p class="person__position">Developer</p>

        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/alex.jpg"
          alt="foto"
        />

        <h2 class="person__name">Alex Khomiakov</h2>
        <p class="person__position">Developer</p>

        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/nadja.jpg"
          alt="foto"
        />

        <h2 class="person__name">Nadya Grab</h2>
        <p class="person__position">Developer</p>
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/alexandr-kulik.jpg"
          alt="foto"
        />

        <h2 class="person__name">Olexander Kulyk</h2>
        <p class="person__position">Developer</p>
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="././images/photo-team/marina-bibichenko.jpg"
          alt="foto"
        />

        <h2 class="person__name">Marina Bibichenko</h2>
        <p class="person__position">Developer</p>
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/evgen.jpg"
          alt="foto"
        />

        <h2 class="person__name">Yevhen Kakurin</h2>
        <p class="person__position">Developer</p>
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/natalija-sirenko.jpg"
          alt="foto"
        />

        <h2 class="person__name">Natalija Sirenko</h2>
        <p class="person__position">Developer</p>
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/anastasija.jpg"
          alt="foto"
        />

        <h2 class="person__name">Anastasija Polishchuk</h2>
        <p class="person__position">Developer</p>
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="person">
        <img
          class="person-photo__img"
          src="./images/photo-team/dima.jpg"
          alt="foto"
        />

        <h2 class="person__name">Dmytro Zakharov</h2>
        <p class="person__position">Developer</p>
        <ul class="person-social list">
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="person-social__link"
              href="mailto:#"
              rel="noopener noreferrer"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#icon-envelope"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="person-social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
              ><svg class="person-social__icon" width="25" height="25">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
