:root {
  --accent-white: #ffffff;
  --text-black: #212121;
  --text-accent: #ff6b08;
  --red-warning: #ff001b;
}
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;

  background-color: var(--text-white);
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
ul {
  padding-left: 0px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  // max-width: 100%;
  width: 100%;
  height: auto;
}
