.footer {
  background-color: #f7f7f7;
  font-style: normal;
  padding-top: 29px;
  padding-bottom: 29px;
  //   margin-top: 40px;
}
.footer-container {
  color: #545454;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  text-align: center;

  @include tablet {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.17;
  }
}

.footer__text {
  display: block;
  margin-bottom: 10px;
  @include tablet {
    margin-bottom: 0;
  }
}

.footer-link {
  color: currentColor;
  text-decoration: underline;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
    color: #ff6b08;
  }
}

.footer__second-line {
  display: flex;
  justify-content: center;
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  animation-name: heart;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
