.header {
  @media screen and(max-width:767px) {
    background-image: url('../images/mob_home_texture_1x.jpg');
    @include retina {
      background-image: url('../images/mob_home_texture_2x.jpg');
    }
  }

  @media screen and(min-width:1200px) {
    background-color: #2f303a;
    // background-image: url('../images/pc_home_texture_1x.jpg');
    @include retina {
      // background-image: url('../images/pc_home_texture_2x.jpg');
    }
  }
}

.list__filmoteka_and_icon-link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
}

.filmoteka-header {
  @media screen and(max-width:767px) {
    display: none;
  }
  text-decoration: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: rgba(255, 255, 255, 1);
}

.icon-filmoteka {
  height: 24px;
}

.nav {
  padding-bottom: 40px;
  padding-top: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link-home,
.nav__link-my-library {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 1);

  text-decoration: none;
  &:last-child {
    margin-left: 39px;
  }
}

.header__search-cont {
  padding-bottom: 92px;
  @include desktop {
    padding-bottom: 80px;
  }
}

.input-container {
  display: flex;
}

.search-film__input {
  width: 336px;
  height: 20px;
  background: 0 0;
  border: none;
  background: transparent;
  border-bottom: 0.5px solid rgba(255, 255, 255, 1);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  @media screen and(max-width:767px) {
    width: 280px;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 1);

    outline: none;
    background: transparent;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.header-search {
  display: flex;
  align-items: center;
}

.header__form {
  display: flex;
  justify-content: center;
}

.icon-search {
  height: 12px;
  position: relative;
  left: -12px;
}

li {
  list-style-type: none;
}

.current::after {
  display: block;

  position: absolute;
  background-color: rgba(255, 0, 27, 1);
  width: 34px;
  height: 3px;
  content: '';
}
