
// header library

.header-library {
  position: relative;
  @media screen and(max-width:767px) {
    background-image: url('../images/mob_library_texture_1x.jpg');
    @include retina {
      background-image: url('../images/mob_library_texture_2x.jpg');
    }
    height: 216px;
  }

  @media screen and(min-width:768px) {
    background-image: url('../images/tab_library_texture_1x.jpg');
    @include retina {
      background-image: url('../images/tab_library_texture_2x.jpg');
    }

    height: 219px;
  }
  @media screen and(min-width:1200px) {
    background-color: #2f303a;
    background-image: url('../images/pc_library_texture_2x.jpg');
    @include retina {
      background-image: url('../images/pc_library_texture_1x.jpg');
    }
  }
  height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav__link-my-library.current {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    background-color: rgba(255, 0, 27, 1);
    width: 34px;
    height: 3px;
    content: '';
  }
}
.btn-library__container {
  display: flex;
  justify-content: center;
}
.btn-library {
  @media screen and(max-width:767px) {
    margin-right: 16px;
  }
  @media screen and(min-width:768px) {
    margin-right: 32px;
  }

  background-color: transparent;
  border: 1px solid, #ffffff;
  color: #ffffff;
  width: 152px;
  height: 44px;
  padding: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  &:hover,
  &:focus {
    background-color: #ff6b01;
    border: #ff6b01;
  }
}

.list__filmoteka_and_icon-link {
  text-decoration: none;
}