.backdrop-movie {
  overflow: hidden;
  position: fixed;

  width: 100%;
  height: 100%;

  z-index: 300;
  top: 0;
  left: 0;

  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.25);

  &.is_hidden-movie {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    overflow-y: scroll;
  }
}

.modal-movie-close-btn {
  cursor: pointer;
  position: absolute;

  top: 8px;
  right: 8px;
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;
}

.modal-movie-close-btn-icon {
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-movie-close-btn:hover .modal-movie-close-btn-icon,
.modal-movie-close-btn:focus .modal-movie-close-btn-icon {
  fill: rgba(255, 107, 1, 1);
  transform: rotate(360deg);
}

.modal-window {
  position: absolute;
  width: 280px;
  opacity: 1;

  border-radius: 5px;
  padding: 48px 20px 40px;

  top: 30px;
  left: 51.5%;

  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%);

  background-color: white;
  box-shadow: 0 0 22px 2px rgb(255 107 1 / 60%);

  @media screen and (min-width: 768px) {
    width: 704px;
    padding: 40px 72px 40px 36px;
    top: 50px;
    left: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 806px;
    padding: 40px 12px;
  }
}

@media screen and (min-width: 768px) {
  .modal-container {
    display: flex;
  }
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: 1024px) {
    width: 375px;
    height: 478px;
  }
}

.wrapper-movie-poster {
  position: relative;

  margin-bottom: 20px;
}

.movie-title {
  width: 240px;

  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
  color: black;
  text-shadow: 2px 2px 7px rgb(255 107 1 / 60%);

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1024px) {
    width: 266px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .info-thumb {
    margin-left: 68px;
  }
}

@media screen and (min-width: 1024px) {
  .info-thumb {
    margin-left: 16px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.table-row:not(:last-child) {
  margin-bottom: 8px;
}

.td {
  min-width: 108px;
}

table tr {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.td {
  min-width: 108px;
}

.characteristic {
  margin: 4px;

  color: rgba(140, 140, 140, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
}

.table-row:not(:last-child) {
  margin-bottom: 8px;
}

.description {
  color: black;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
}

.vote {
  min-width: 36px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 107, 1, 1);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
  display: inline-flex;
}

.slash {
  color: rgba(140, 140, 140, 1);
}

.votes {
  background: #eceaea;
  border-radius: 5px;
  padding: 1px 4px;
}

.about {
  width: 39px;

  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
  margin: 0px;

  color: #000000;

  @media screen and (min-width: 768px) {
    width: 78px;
  }

  @media screen and (min-width: 1024px) {
    width: 65px;
  }
}

.about-descr {
  width: 240px;

  color: var(--text-black);
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66667;
  margin-top: 8px;

  overflow: auto;
}

@media screen and (min-width: 768px) {
  .about-descr {
    width: 264px;
  }

  @media screen and (min-width: 1024px) {
    .about-descr {
      width: 391px;
    }
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
}

.add-to-watched-btn,
.button-auth {
  padding: 6px 15px;

  margin-right: 10px;

  width: 120px;
  height: 44px;
  left: 170px;
  top: 876px;
  font-size: 12px;

  border-radius: 5px;
  border: 1px solid #000000;
  background-color: transparent;
  cursor: pointer;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #ff6b01;
    border-radius: 5px;
    border: none;
    color: white;

    cursor: pointer;

    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    margin-right: 15px;
    padding: 12px 7px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 165px;
  }

  @media screen and (min-width: 1024px) {
    width: 166px;
  }
}

.add-to-queue-btn,
.button-auth {
  padding: 6px 15px;

  width: 120px;
  height: 44px;
  left: 170px;
  top: 876px;

  font-size: 12px;

  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;

  background-color: transparent;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.1);

    background: #ff6b01;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 165px;
    padding: 12px 7px;
  }

  @media screen and (min-width: 1024px) {
    width: 166px;
    padding: 12px 7px;
  }
}

.buttons-auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.button-auth {
  border: 1px solid white;
  color: #000000;
  background-color: white;
  width: 80px;
  padding: 5px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 100px;
    padding: 5px 5px;
  }

  @media screen and (min-width: 1024px) {
    width: 100px;
    padding: 5px 5px;
  }
}

// КНОПКА ПЛЕЙ ТРЕЙЛЕР

.trailer-overlay {
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.fetch-trailer {
  width: 68px;
  height: 68px;
  color: white;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0);
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;

  font-size: 40px;

  position: absolute;
  padding-left: 10px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1),
    color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fetch-trailer:focus,
.fetch-trailer:hover {
  color: rgba(255, 107, 8, 0.8);
  border: 3px solid rgba(255, 107, 8, 0.8);
}

// --- КНОПКА ПЛЕЙ ТРЕЙЛЕР

.video_frame {
  position: absolute;
  width: 280px;
  height: 200px;
  z-index: 800000;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 704px;
    height: 400px;
  }

  @media screen and (min-width: 1024px) {
    width: 800px;
    height: 480px;
  }
}
.video_trailer {
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  width: 280px;
  height: 200px;
  z-index: 70000;
  background: #545454;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 704px;
    height: 400px;
  }

  @media screen and (min-width: 1024px) {
    width: 800px;
    height: 480px;
  }
}

.trailer-close {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 9000000;
  left: 88%;
  top: 2%;
  background: #212121;
  color: #f7f7f7;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    left: 95%;
    top: 2%;
  }

  @media screen and (min-width: 1024px) {
    left: 95%;
    top: 2%;
  }
}
