
.trending-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
 display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.trending__collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .trending__collection {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .trending__collection {
    gap: 32px 16px;
  }
}

